<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mobile.dao.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.mall.mobile.domen.OrderInfo">
        <result column="orderid" jdbcType="VARCHAR" property="orderid" />
        <result column="userid" property="userid" jdbcType="INTEGER" />
        <result column="classid" property="classid" jdbcType="INTEGER" />
        <result column="orderstatus" property="orderstatus" jdbcType="VARCHAR" />
        <result column="tradenum" property="tradenum" jdbcType="INTEGER" />
        <result column="tradeprice" property="tradeprice" jdbcType="NUMERIC" />
        <result column="orderdiscount" property="orderdiscount" jdbcType="VARCHAR" />
        <result column="discountprice" property="discountprice" jdbcType="NUMERIC" />
        <result column="orderintegral" property="orderintegral" jdbcType="INTEGER" />
        <result column="integralprice" property="integralprice" jdbcType="NUMERIC" />
        <result column="actualprice" property="actualprice" jdbcType="NUMERIC" />
        <result column="freight" property="freight" jdbcType="NUMERIC" />
        <result column="tax" property="tax" jdbcType="NUMERIC" />
        <result column="ordertotalprice" property="ordertotalprice" jdbcType="NUMERIC" />
        <result column="payway" property="payway" jdbcType="VARCHAR" />
        <result column="payflowcode" property="payflowcode" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="expressway" property="expressway" jdbcType="VARCHAR" />
        <result column="expresscode" property="expresscode" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="paystatus" property="paystatus" jdbcType="VARCHAR" />
        <result column="paytime" property="paytime" jdbcType="TIMESTAMP" />
        <result column="sendtime" property="sendtime" jdbcType="TIMESTAMP" />
        <result column="finaltime" property="finaltime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        orderid,userid,classid,orderstatus,tradenum,tradeprice,orderdiscount,discountprice,orderintegral,integralprice,actualprice,freight,tax,
        ordertotalprice,payway,payflowcode,createtime,expressway,expresscode,name,phone,address,paystatus,paytime,sendtime,finaltime

    </sql>


    <select id="queryAllOrderByUserId"  parameterType="Object" resultMap="BaseResultMap">
        select
        * from table_orderinfo
        where
        userid=#{userid}
        <if test="orderstatus != null and  orderstatus != ''">
            AND orderstatus =#{orderstatus}
        </if>
    </select>

    <select id="queryOrderByOrderId"  parameterType="String" resultMap="BaseResultMap">
        select
        * from table_orderinfo
        where
        orderid=#{orderid}

    </select>

    <select id="queryOrderInfolist"  parameterType="com.mall.mobile.domen.OrderInfo" resultMap="BaseResultMap">
        select
        * from table_orderinfo
        where
        classid not in (1,2)
        <if test="orderid != null and  orderid != ''">
            AND orderid =#{orderid}
        </if>
        <if test="orderstatus != null and  orderstatus != ''">
            AND orderstatus =#{orderstatus}
        </if>
    </select>

    <select id="queryRBZYOrderInfolist"  parameterType="com.mall.mobile.domen.OrderInfo" resultMap="BaseResultMap">
        select
        * from table_orderinfo
        where
        classid in (1,2)
        <if test="orderid != null and  orderid != ''">
            AND orderid =#{orderid}
        </if>
        <if test="orderstatus != null and  orderstatus != ''">
            AND orderstatus =#{orderstatus}
        </if>
    </select>

    <select id="queryTHOrderInfolist"  parameterType="com.mall.mobile.domen.OrderInfo" resultMap="BaseResultMap">
        select
        * from table_orderinfo
        where
        orderstatus='60'
        <if test="orderid != null and  orderid != ''">
            AND orderid =#{orderid}
        </if>

    </select>


    <insert id="addOrderInfo" parameterType="com.mall.mobile.domen.OrderInfo">
        insert into
        table_orderinfo (
        orderid,
        userid,
        classid,
        orderstatus,
        tradenum,
        tradeprice,
        orderdiscount,
        discountprice,
        orderintegral,
        integralprice,
        actualprice,
        freight,
        tax,
        ordertotalprice,
        payway,
        payflowcode,
        createtime,
        expressway,
        expresscode,
        name,
        phone,
        address,
        paystatus,
        paytime,
        sendtime,
        finaltime
        )
        values (
        #{orderid},
        #{userid},
        #{classid},
        #{orderstatus},
        #{tradenum},
        #{tradeprice},
        #{orderdiscount},
        #{discountprice},
        #{orderintegral},
        #{integralprice},
        #{actualprice},
        #{freight},
        #{tax},
        #{ordertotalprice},
        #{payway},
        #{payflowcode},
        #{createtime},
        #{expressway},
        #{expresscode},
        #{name},
        #{phone},
        #{address},
        #{paystatus},
        #{paytime},
        #{sendtime},
        #{finaltime}
        )
    </insert>


    <delete id="delOrderInfo" parameterType="String">
        delete from table_orderinfo
         where
        orderid=#{orderid}
    </delete>


</mapper>