<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mobile.dao.ScoureMapper">
    <resultMap id="BaseResultMap" type="com.mall.mobile.domen.Scoure">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="operagral" property="operagral" jdbcType="INTEGER" />
        <result column="usegral" property="usegral" jdbcType="INTEGER" />
        <result column="operatype" property="operatype" jdbcType="VARCHAR" />
        <result column="sourcetype" property="sourcetype" jdbcType="VARCHAR" />
        <result column="sourceinfo" property="sourceinfo" jdbcType="VARCHAR" />
        <result column="gralscoure" property="gralscoure" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    </resultMap>


    <select id="getScoureList"  parameterType="Integer" resultMap="BaseResultMap">
        select
         * from table_user_scoure
         where
          userid=#{userid}
    </select>


    <insert id="addcustadress" parameterType="com.mall.mobile.domen.CustAdress">
        insert into
        table_user_scoure (
        userid,
        operagral,
        usegral,
        operatype,
        sourcetype,
        sourceinfo,
        gralscoure,
        createtime
        )
        values (
        #{userid,jdbcType=INTEGER},
        #{operagral,jdbcType=VARCHAR},
        #{usegral,jdbcType=VARCHAR},
        #{operatype,jdbcType=VARCHAR},
        #{sourcetype,jdbcType=VARCHAR},
        #{sourceinfo,jdbcType=VARCHAR},
        #{gralscoure,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP}
        )
    </insert>



</mapper>