<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.pc.dao.TradeCategoryMapper">
    <resultMap id="BaseResultMap" type="com.mall.pc.domen.TradeCategory">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="classify" property="classify" jdbcType="VARCHAR" />
        <result column="classifyimage" property="classifyimage" jdbcType="VARCHAR" />
        <result column="fatherid" property="fatherid" jdbcType="INTEGER" />
        <result column="ishomeicon" property="ishomeicon" jdbcType="VARCHAR" />
        <result column="icons" property="icons" jdbcType="VARCHAR" />
        <result column="ishome" property="ishome" jdbcType="VARCHAR" />
        <result column="homeimage" property="homeimage" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />


    </resultMap>

    <sql id="Base_Column_List">
       id,classify,classifyimage,fatherid,ishomeicon,icons,ishome,homeimage,sort
    </sql>

    <select id="QueryGoodCategorys"  parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_category WHERE 1=1
        <if test="fatherid != null">
           AND fatherid=#{fatherid}
        </if>

        <if test="fatherid == null">
            AND fatherid is null
        </if>
    </select>

    <select id="QueryGoodCategoryById"  parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_category
        where
        id =#{id}
    </select>

    <select id="QueryGoodCategorysByishomeicon" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_category
        where
        ishomeicon ='0'
    </select>

    <select id="QueryGoodCategorysByishome" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_category
        where
        ishome ='0'
    </select>

    <insert id="insertcategory" parameterType="com.mall.pc.domen.TradeCategory">
        insert into
        table_trade_category (
        classify,
        classifyimage,
        fatherid,
        ishomeicon,
        icons,
        ishome,
        homeimage,
        sort
        )
        values (
        #{classify},
        #{classifyimage},
        #{fatherid},
        #{ishomeicon},
        #{icons},
        #{ishome},
        #{homeimage},
        #{sort}
        )
    </insert>

    <update id="updatecategory" parameterType="com.mall.pc.domen.TradeCategory">
        UPDATE
        table_trade_category
        SET
        classify=#{classify},
        classifyimage=#{classifyimage},
        fatherid=#{fatherid},
        ishomeicon=#{ishomeicon},
        icons=#{icons},
        ishome=#{ishome},
        homeimage=#{homeimage},
        sort=#{sort}
        where
        id=#{id}
    </update>


    <delete id="delcategory" parameterType="java.lang.Integer">
        delete from table_trade_category
        where
        id=#{id}
    </delete>


    <resultMap id="BaseResultMapTranslate" type="com.mall.pc.domen.TradeCategoryTranslate">
        <result column="classid" property="classid" jdbcType="INTEGER" />
        <result column="languagetype" property="languagetype" jdbcType="VARCHAR" />
        <result column="classifyname" property="classifyname" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List_Translate">
        classid,languagetype,classifyname
    </sql>

    <select id="Categorytranslates"  parameterType="Integer" resultMap="BaseResultMapTranslate">
        SELECT
        <include refid="Base_Column_List_Translate" />
        FROM
        table_trade_category_translate a
        WHERE
        a.classid=#{classid}
    </select>

    <select id="QueryCategorytranslateByclassidAndLanguagetype"  parameterType="Object" resultMap="BaseResultMapTranslate">
        SELECT
        <include refid="Base_Column_List_Translate" />
        FROM
        table_trade_category_translate a
        WHERE
        a.classid=#{classid}
        AND
        languagetype=#{languagetype}
    </select>


    <insert id="insertCategoryTradeSlate" parameterType="com.mall.pc.domen.TradeCategoryTranslate">
        insert into
        table_trade_category_translate (
        classid,
        languagetype,
        classifyname
        )
        values (
        #{classid},
        #{languagetype},
        #{classifyname}
        )
    </insert>

    <update id="updateCategoryTradeSlate" parameterType="com.mall.pc.domen.TradeCategoryTranslate">
        UPDATE
        table_trade_category_translate
        SET
        classifyname=#{classifyname}
        where
        classid=#{classid}
        AND
        languagetype=#{languagetype}
    </update>

    <delete id="delCategoryTradeSlate" parameterType="Object">
        Delete from
        table_trade_category_translate
        where
        classid=#{classid}
        AND
        languagetype=#{languagetype}
    </delete>

</mapper>