<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.pc.dao.TradeInfoMapper">
    <resultMap id="BaseResultMap" type="com.mall.pc.domen.TradeInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="barcode" property="barcode" jdbcType="VARCHAR" />
        <result column="tradename" property="tradename" jdbcType="VARCHAR" />
        <result column="tradeimage" property="tradeimage" jdbcType="VARCHAR" />
        <result column="tradevideo" property="tradevideo" jdbcType="VARCHAR" />
        <result column="introduce" property="introduce" jdbcType="VARCHAR" />
        <result column="tradenum" property="tradenum" jdbcType="INTEGER" />
        <result column="salesvolume" property="salesvolume" jdbcType="INTEGER" />
        <result column="tradebright" property="tradebright" jdbcType="VARCHAR" />
        <result column="moreinfo" property="moreinfo" jdbcType="VARCHAR" />
        <result column="classify" property="classify" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="NUMERIC" />
        <result column="giveintegral" property="giveintegral" jdbcType="INTEGER" />
        <result column="ishome" property="ishome" jdbcType="VARCHAR" />
        <result column="brandid" property="brandid" jdbcType="INTEGER" />
        <result column="invalid" property="invalid" jdbcType="VARCHAR" />
        <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
        <result column="tradewarnnum" property="tradewarnnum" jdbcType="INTEGER" />
        <result column="tradeclass" property="tradeclass" jdbcType="INTEGER" />
        <result column="tradecode" property="tradecode" jdbcType="VARCHAR" />
        <result column="tradeweight" property="tradeweight" jdbcType="NUMERIC" />
        <result column="promoteprice" property="promoteprice" jdbcType="NUMERIC" />
        <result column="promotedate" property="promotedate" jdbcType="TIMESTAMP" />
        <result column="boutique" property="boutique" jdbcType="VARCHAR" />
        <result column="newin" property="newin" jdbcType="VARCHAR" />
        <result column="well" property="well" jdbcType="VARCHAR" />
        <result column="coupway" property="coupway" jdbcType="VARCHAR" />
        <result column="fullpiece" property="fullpiece" jdbcType="INTEGER" />
        <result column="fullprice" property="fullprice" jdbcType="NUMERIC" />
        <result column="stockprice" property="stockprice" jdbcType="NUMERIC" />
        <result column="memprice" property="memprice" jdbcType="NUMERIC" />
    </resultMap>

    <sql id="Base_Column_List">
       id,barcode,tradename,tradeimage,tradevideo,introduce,tradenum,
       salesvolume,tradebright,moreinfo,classify,price,giveintegral,ishome,brandid,invalid,createdate,
       tradewarnnum,tradeclass,tradecode,tradeweight,promoteprice,promotedate,boutique,newin,well,coupway,fullpiece,fullprice,stockprice,memprice

    </sql>

    <select id="Querytrades"  parameterType="com.mall.pc.domen.TradeInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_info WHERE 1=1
        <if test="tradename != null and  tradename != ''">
            AND tradename like concat('%',#{tradename},'%')
        </if>
        <if test="barcode != null and  barcode != ''">
            AND barcode =#{barcode}
        </if>
        <if test="tradeclass != null ">
            AND tradeclass =#{tradeclass}
        </if>
        <if test="classify != null">
            AND classify =#{classify}
        </if>
        <if test="brandid != null">
            AND brandid =#{brandid}
        </if>
        <if test="invalid != null and  invalid != ''">
            AND invalid =#{invalid}
        </if>

    </select>

    <select id="queryAlltradelist"  parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        table_trade_info a
        WHERE
        a.tradeclass =#{tradeclass}

        <if test='search == "1" '>
            ORDER by createdate desc
        </if>
        <if test='search == "2" '>
            ORDER by salesvolume desc
        </if>
        <if test='search == "3" '>
            ORDER by price
        </if>
    </select>

    <select id="queryAllisHometradelist"  parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        table_trade_info a
        WHERE
        a.tradeclass =#{tradeclass}
        AND
        a.ishome='0'

    </select>

    <select id="QuerytradeByBrandid"  parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        table_trade_info a
        WHERE
        a.brandid=#{brandid}

    </select>

    <select id="querytradelistByClassify"  parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_info a
        where
        a.classify =#{classify}

        <if test='search == "1" '>
            ORDER by createdate desc
        </if>
        <if test='search == "2" '>
            ORDER by salesvolume desc
        </if>
        <if test='search == "3" '>
            ORDER by price
        </if>
    </select>

    <select id="QuerytradeById"  parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_info
        where
        id =#{id}
    </select>

    <select id="QuerytradeByBarcode"  parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_info
        where
        barcode =#{barcode}
    </select>

    <select id="QuerytradeBysearchname"  parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from table_trade_info a
        <if test=" _parameter != null and   _parameter != ''">
            WHERE tradename like concat('%',#{ _parameter},'%')
            or (select tradename from table_trade_info_translate b where a.id=b.tradeid) like concat('%',#{ _parameter},'%')
            or introduce like concat('%',#{ _parameter},'%')
            or (select introduce from table_trade_info_translate b where a.id=b.tradeid) like concat('%',#{ _parameter},'%')
            or tradebright like concat('%',#{ _parameter},'%')
            or (select tradebright from table_trade_info_translate b where a.id=b.tradeid) like concat('%',#{ _parameter},'%')
            or moreinfo like concat('%',#{ _parameter},'%')
            or (select moreinfo from table_trade_info_translate b where a.id=b.tradeid) like concat('%',#{ _parameter},'%')
        </if>
    </select>

    <insert id="insertTradeInfo" parameterType="com.mall.pc.domen.TradeInfo">
        insert into
        table_trade_info (
        barcode,
        tradename,
        tradeimage,
        tradevideo,
        introduce,
        tradenum,
        salesvolume,
        tradebright,
        moreinfo,
        classify,
        price,
        giveintegral,
        ishome,
        brandid,
        invalid,
        createdate,
        tradewarnnum,
        tradeclass,
        tradecode,
        tradeweight,
        promoteprice,
        promotedate,
        boutique,
        newin,
        well,
        coupway,
        fullpiece,
        fullprice,
        stockprice,
        memprice
        )
        values (
        #{barcode},
        #{tradename},
        #{tradeimage},
        #{tradevideo},
        #{introduce},
        #{tradenum},
        #{salesvolume},
        #{tradebright},
        #{moreinfo},
        #{classify},
        #{price},
        #{giveintegral},
        #{ishome},
        #{brandid},
        #{invalid},
        #{createdate},
        #{tradewarnnum},
        #{tradeclass},
        #{tradecode},
        #{tradeweight},
        #{promoteprice},
        #{promotedate},
        #{boutique},
        #{newin},
        #{well},
        #{coupway},
        #{fullpiece},
        #{fullprice},
        #{stockprice},
        #{memprice}
        )
    </insert>

    <update id="updateTradeInfo" parameterType="com.mall.pc.domen.TradeInfo">
        UPDATE
        table_trade_info
        SET
        barcode=#{barcode},
        tradename=#{tradename},
        tradeimage=#{tradeimage},
        tradevideo=#{tradevideo},
        introduce=#{introduce},
        tradenum=#{tradenum},
        salesvolume=#{salesvolume},
        tradebright=#{tradebright},
        moreinfo=#{moreinfo},
        classify=#{classify},
        price=#{price},
        giveintegral=#{giveintegral},
        ishome=#{ishome},
        brandid=#{brandid},
        invalid=#{invalid},
        tradewarnnum= #{tradewarnnum},
        tradeclass=#{tradeclass},
        tradecode=#{tradecode},
        tradeweight=#{tradeweight},
        promoteprice=#{promoteprice},
        promotedate=#{promotedate},
        boutique=#{boutique},
        newin=#{newin},
        well=#{well},
        coupway= #{coupway},
        fullpiece=#{fullpiece},
        fullprice= #{fullprice},
        stockprice=#{stockprice},
        memprice=#{memprice}
        where
        id=#{id}
    </update>


    <delete id="delTradeInfo" parameterType="java.lang.Integer">
         UPDATE
        table_trade_info
        SET
        invalid='1'
        where
        id=#{id}
    </delete>


    <resultMap id="BaseResultMapTranslate" type="com.mall.pc.domen.TradeInfoTranslate">
        <result column="tradeid" property="tradeid" jdbcType="INTEGER" />
        <result column="languagetype" property="languagetype" jdbcType="VARCHAR" />
        <result column="tradename" property="tradename" jdbcType="VARCHAR" />
        <result column="introduce" property="introduce" jdbcType="VARCHAR" />
        <result column="tradebright" property="tradebright" jdbcType="VARCHAR" />
        <result column="moreinfo" property="moreinfo" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List_Translate">
        tradeid,languagetype,tradename,introduce,tradebright,moreinfo
    </sql>

    <select id="QueryTradeTranslateBytrandid"  parameterType="Integer" resultMap="BaseResultMapTranslate">
        SELECT
        <include refid="Base_Column_List_Translate" />
        FROM
        table_trade_info_translate a
        WHERE
        a.tradeid=#{tradeid}
    </select>

    <select id="QueryTradeTranslateBytrandidANDType"  parameterType="Object" resultMap="BaseResultMapTranslate">
        SELECT
        <include refid="Base_Column_List_Translate" />
        FROM
        table_trade_info_translate a
        WHERE
        a.tradeid=#{tradeid}
        AND
        languagetype=#{languagetype}
    </select>


    <insert id="insertTradeTranslate" parameterType="com.mall.pc.domen.TradeInfoTranslate">
        insert into
        table_trade_info_translate (
        tradeid,
        languagetype,
        tradename,
        introduce,
        tradebright,
        moreinfo
        )
        values (
        #{tradeid},
        #{languagetype},
        #{tradename},
        #{introduce},
        #{tradebright},
        #{moreinfo}
        )
    </insert>

    <update id="updateTradeTranslate" parameterType="com.mall.pc.domen.TradeInfoTranslate">
        UPDATE
        table_trade_info_translate
        SET
        tradename=#{tradename},
        introduce=#{introduce},
        tradebright=#{tradebright},
        moreinfo=#{moreinfo}
        where
        tradeid=#{tradeid}
        AND
        languagetype=#{languagetype}
    </update>

    <delete id="delTradeTranslate" parameterType="Object">
        Delete from
        table_trade_info_translate
        where
        tradeid=#{tradeid}
        AND
        languagetype=#{languagetype}
    </delete>

</mapper>